
@import url('https://fonts.googleapis.com/css?family=Montserrat:400,600');

nav ul {
    position: fixed;
    width: 60%;
    top: 0;
    right: 0;
    text-align: left;
    background: rgb(36,41,44);
    height: 100%;
    z-index: 7;
    padding-top: 3em;
     font-size: 1.4em;
    
}
    
.button { 
    display: inline-block;  
      border-radius: 4px;  
      background-color: #00C2FF;  
      border: none;  
      color: #FFFFFF; 
       text-align: center;  
       font-size: 28px; 
        padding: 20px;  
        width: 200px;  
        transition: all 0.5s; 
         cursor: pointer; 
          margin: 5px;
          margin-top: 5%;
          text-decoration: none;
  
      }
      .button {border-radius: 12px;}


nav ul li a {
    color: white;
    text-decoration: none;
    display: block;
    width: 100%;
    padding: 1em 2em;
    background-color: rgb(49, 55, 59);
}

nav ul li a:hover {
    background-color: rgb(65, 73, 78);
}

body {
    margin: 0;
    font-family: 'Montserrat', sans-serif;
}

p {
    font-size: .9em;
    line-height: 1.6em;
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

.container {
    text-align: center;
    padding: .8em 1.2em;
}

.logo {
    width: 130px;
}

.hide-mobile {
    display: none;
}
header {
    display: flex;
    justify-content: space-between;
}

.menu {
    width: 25px;
    margin-top: 45%;
}



h1 {
    position: relative;
    z-index: 3;
}

.subhead {
    font-size: 1.1em;
}

h2 {
    margin-top: 7%;
}


.container {
    text-align: center;
}
.footer-container {
    width: 100%;
    background: #3D444A;
    color: #fff;
    padding: 3em 0;
 
}

.footer-container .container {
    transform: skewY(-2deg);
}

.footer-container:before {
    content: "";
    width: 40px;
    height: 40px;
    background-color: #3D444A;
    position: absolute;
    left: 0;
 
}

.footer-container:after {
    content: "";
    width: 80px;
    height: 80px;
    background-color: #fff;
    position: absolute;
 
    top: -80px;
    left: 0;
   
}

ul.footer-links {
    margin: 0 auto;
}

ul.footer-links li {
    display: inline-block;
}


.main-text  {
    border-top-left-radius: 40px;
    transform: skewY(-2deg);
    background: #00C2FF;
  }
  .main-text:before {
    content: "";
    width: 40px;
    height: 40px;
    background-color: #00C2FF;
    position: absolute;
    top: -39px;
    right: 0;
    z-index: -2;
}
.main-text:after {
    content: "";
    width: 80px;
    height: 80px;
    background-color: #fff;
    top: -80px;
    position: absolute;
    right: 0;
    border-radius: 50%;
    z-index: -1;
}
.main-text ul {
    transform: skewY(2deg);
}

.main-text{
    margin-top: 37%;
}
.our-products li  img{
   width:63%;


}
.darkmode {
    background-color: black;
    color: white;
    
  }


  .map {
      margin-top: 23%;
  }
  

  

  .scroll {
    width: 20%;
    animation: move 1s infinite alternate;
    margin-top: -12%;
    
}

.subhead{
animation: move 1s infinite alternate;
}

#Logo{
    width: 20%;
    animation: move 1s infinite alternate;
}


@keyframes move {
    from {
        transform: translateY(0px);
    }
    to {
        transform: translateY(20px);
    }
}
@media only screen and (min-width: 700px){

    .main-title {
      font-size: 3em;
    }
    .main-text{
        font-size: 2em;
    }
}


@media only screen and (min-width: 875px)  {

    .subhead {
        margin-bottom: 15%;
        font-size: 2em;
    }

   .main-title{
       font-size: 3em;
       margin-top: 12%;
   }

   .main-text {
       font-size: 2em;
   }


.scroll {
    width: 200px;
    animation: move 1s infinite alternate;
    margin-top: -12%;
    
}

.subhead{
animation: move 1s infinite alternate;
}


@keyframes move {
    from {
        transform: translateY(0px);
    }
    to {
        transform: translateY(20px);
    }
}

.our-products h1{
  font-size: 3em;
}

.services h1{
    font-size: 3em;
}

.contact-info ul li {
    margin-top: 21%;
    margin-left: 8%;
    display: inline-block;
 
}


.contact-info h1 h2  {
    margin-bottom: 29%;
    
}
    
.button { 
    display: inline-block;  
      border-radius: 4px;  
      background-color: ;  
      border: none;  color: #FFFFFF; 
       text-align: center;  
       font-size: 28px; 
        padding: 20px;  
        width: 200px;  
        transition: all 0.5s; 
         cursor: pointer; 
          margin: 5px;
          margin-top: 5%;
          text-decoration: none;
  
      }
      .button {border-radius: 12px;}



      .main-text .container {
        margin-top: -33%;
     }

     .map {
         margin-top: 5%;
     }
  
}









@media only screen and (min-width: 1024px)  {
  
    .main-title{
        font-size: 3em;
        margin-bottom: 5%;
    }

    .container {
        width: 80%;
        margin: 0 auto;
    }

    .show-desktop {
        display: block;
        margin: 0 auto 13% auto;
    }

    .hide-desktop {
        display: none;
    }

    nav ul {
        position: inherit;
        width: auto;
        background: none;
        height: auto;
        display: flex;
        padding-top: 0;
    }

    nav ul li {
        float: left;
    }

    nav ul li a {
        color: black;
        background-color: inherit;
        padding: 1em 2em;
    }
    
    nav ul li a:hover {
        background-color: royalblue;
        width: 50%;
        border-radius: 4px; 
      
    }
 

    .our-products{
        margin-top: -5%;
    }

    .main-text{
      margin-top: 44%;
    }
   
    .main-text{
        ;
    }



@media only screen and (min-width: 1600px) {
     
    .main-title {
        font-size: 3em;
        margin-top: 6%;
    }
    
    .main p {
        font-size: 2em;
    }

   .map {
     text-align: center;
       

   }


}


.our-products li  img{
    float: left;
    width: 33.33%;
    padding: 5px;


}


.our-products {
    margin-top: 5%;
    font-size: 2em;
 
 }
 .image3{
    float: right;
    width: 33.33%;
    padding: 5px;
    margin-right: -5%;
 }


 
 .our-products li  img{
         float: left;
         width: 33.33%;
         padding: 5px;
     
     
  }
  .services{
    margin-top: 30%;
    width: 100%;
    font-size: 1em;
 }

 
  .services ul li {
    display: inline-block;
    padding-left: 8%;
    padding-right: 8%;
    width: 12%;
    text-align: center;
    margin-top: -0.5%;
    margin-bottom: 5%;
}

.services h1{
    font-size: 4em;
    margin-top: 9%;
    
}


#Logo {
    margin-top: -11%;
}


   .map ul li {
       display: inline-block;
       text-align: center;
       margin-right: 0%;
      
      
   }
   .main-text {
    width: 100%;
    font-size: 3em;
   
}

  .main-title{
    font-size: 4em;
  }

  .subhead{
      margin-top: 5%;
  }


  .darkmodeicon img{
      margin-left: 4%;
      width: 5%;
      margin-top: 2%;
  }
   

  .about-us{
      font-size: 2em;
  }
}
